body{
    background-color: rgb(147, 147, 147);
    
}

header{
    background-color: black;
    opacity: 0.4;
    margin: 5% 20%;
    border-radius: 20px;
}

header h1{
    color: rgb(255, 255, 255);
    opacity: 1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    line-height: 2em;
    letter-spacing: 1.1px;
    padding: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flexcontainer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.flexbox{
    margin: 0px;
    padding: 0px;
    display: flexbox;
    flex-direction: row;
}


.flexbox img{
    padding: 30px 10px 0px 10px;
    margin-left: 400px;
}

.flexbox h4{
    font-weight: 900px;
    margin-left: 30px;
    padding: 50px 20px;
    font-size: 1.4em;
    color: rgb(221, 221, 221);
    word-spacing: 4px;
    width: 120px;
}

.buttonone button{
    background-color: rgb(74, 74, 74);
    color: white;
    border: 2px solid rgb(232, 232, 232);
    border-radius: 3px;
    padding: 8px 15px;
    margin: 5px;
}

.buttonone{
    margin-left: 45%;
}

button:hover{
    box-shadow: 2px 2px 4px #343434,
                -2px -2px 4px #434343;

}

button:active{
    background-color: white;
}

@media screen and (max-width:950px) {
    .flexbox img{
        margin-left: 200px;
    }
    
}

@media screen and (max-width:700px) {
    .flexbox img{
        margin-left: 100px;
    }
    
}

@media screen and (max-width:500px){

    .flexbox img{
        margin-left: 10px;
    }
    .buttonone{
        margin-left: 35%;
    }

    .flexbox{
        float: left;
        width: 100%;
        clear: both;
    }

}

@media screen and (max-width:418px) {
    .flexbox img{
        margin-right: auto;
        margin-left: auto;
    }

    .flexcontainer{
        display: block;
        margin: auto;
    }

    .flexbox h4{
        padding:10%;
        margin-right: auto;
        margin-left: auto;
    }

    .buttonone{
        margin-left: 25%;
    }


    header h1{
        letter-spacing: -0.2px;
        font-size: 1.5em;
    }

    
}

@media screen and (max-width:270px) {
    .flexbox img{
        margin: 0px;
    }

    .flexbox h4{
        display: hidden;
        padding:0px;
    }

    .buttonone{
        margin-left: 15%;
    }
   
    
}